.home-container {
    text-align: center;
    padding: 100px;
    font-family: inherit;
    color:darkslategray;
    min-height: 100vh; /* Ensures full-page height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.uSign {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.intro-section {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.sign-in-message {
    margin-top: 20px;
    font-weight: bold;
    color: #ca3b3b;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Positions button near text */
}

.u-sign {
    max-width: 100px;
    height: auto;
    margin: 20px 0;
}

.login-button {
    background-color: #4824d8;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adds spacing between text and button */
}

.login-button:hover {
    background-color: #3216a0;
}
