.map-container {
    width: 100rem;
    height: 50rem;
}

.sidebar {
    width: 300px;
    height: 100%;
    padding: 20px;
    background: #f4f4f4;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 10%;
    bottom: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

h4 {
    font-size: 18px;
    margin: 0;
}

.time-picker {
    width: 100px;
}

.time-picker .react-time-picker__inputGroup {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.time-picker .react-time-picker__clockButton {
    color: #333;
}

.time-picker .react-time-picker__wrapper {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}