@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-weight: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

:root {
    --bg-color-primary-light: #854db2ff;
    --bg-color-secondary-light: #e4e2f3ff;
    --bg-color-primary-dark: #35281dff;
   }


h1, h2, h3 {
    color: var(--bg-color-primary-light);
}

.red-pin {
    color: red;
}

.blue-pin {
     color: blue;
}
