* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-primary-light: #854db2ff;
    --bg-color-secondary-light: #e4e2f3ff;
    --bg-color-primary-dark: #35281dff;
   }


main {
    max-width: 55rem;
    min-height: 50rem;
    margin-inline: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-secondary-light);
}
