main {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--bg-color-secondary-light);
    max-width: 100%;
    min-height: 100%;
    border: none;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
