.custom-button-toolbar{
    flex-shrink:calc();
}

.custom-button-group {
    flex-grow: 1;
}

.custom-button{
  background-color: var(--bg-color-primary-light);
  border: none;
  border-radius: 0;
}

.first{
  border-radius: 5vb 0 0 5vb;
}

.last{
  border-radius: 0 5vb 5vb 0;
}
