.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:🟣;
    position:relative;
    flex-direction: column;
}

.profile-picture {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border:  2px solid white;
}

.profile-name{
    color: var(--color-primary-light);
}
